* {
  padding: 0;
  margin: 0;
  --grey: #eee;
  --light-grey: #f4f5f6;
  --black: #000;
  --white: #fff;
  --purple: #73449b;
  --blue: #0093d5;
  --dark-blue: #0081bc;
}

body {
  background-color: var(--grey);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  width: 900px;
  margin: 0 auto;
}

h1, h2, h3 {
  text-transform: uppercase;
}

header a.coderdojo {
  display: block;
  width: 160px;
  margin: 16px 0;
}

header a.coderdojo img {
  width: 100%;
}

header div.banner {
  background-color: var(--purple);
  color: var(--white);
  padding: 32px;
}

header div.banner span {
  margin: 0 16px;
}

main {
  background-color: var(--white);
  padding: 16px;
}

ul.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 16px;
}

ul.projects li {
  list-style-type: none;
  margin: 8px;
  background-color: var(--light-grey);
  border: 1px solid var(--grey);
  border-radius: 8px;
}

ul.projects img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

ul.projects a {
  text-decoration: none;
  color: var(--black);
}

ul.projects a div {
  padding: 16px 8px;
}

footer {
  padding: 32px;
}

@media (orientation: portrait) {
  body {
    width: 100%;
    margin: 0;
  }

  ul.projects {
    grid-template-columns: 1fr;
  }

  header a.coderdojo {
    margin: 16px auto;
  }
}
